*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #141c29;
}
/* barra de navegacion  */
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(195 195 195);
    padding: 1rem 0;
}
.menu{
    display: flex;
    align-items: center;
    margin-left: 2rem;
    cursor: pointer;
}

.icons-nav{
    width: 3rem;
    height: 3rem;
}
.icon-text{
    font-size: 1.5rem;
    margin-left: 1rem;
}
.cart{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
}
.brands{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43rem; 

   
}
.img-brands{
    width: 8rem;
    height: 2rem;
    padding: 0.7rem;
}
/* menu desplegable */

.drop-menu{
    background-color: #1c1c1c;
    width: 20rem;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    padding: 2rem 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
    border-radius: 0 0.5rem 0.5rem 0 ;
    position: fixed;
    z-index: 1000;
}
.search{
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
}
.search h3{
    margin:0 1rem;
}
.search input{
    width: 17rem;
    padding: 0.5rem;
    font-size: 1rem;
}
.categories{
    margin-top: 4rem;
    color: white;
}
.list-categories{
    margin-left: 2rem;
}
.item-categories{
    list-style:outside;
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.2rem 2rem;
}
.drop-menu button{
    width: 13rem;
    margin-top: 3rem;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.drop-menu button:hover{
   background-color: rgb(102, 102, 102);
   color: white;
}

#sport:hover{
    background-color: rgb(87, 86, 86);
}
#naked:hover{
    background-color: rgb(87, 86, 86);
}
#adventure:hover{
    background-color: rgb(87, 86, 86);
}
#cross:hover{
    background-color: rgb(87, 86, 86);
}

/* targetas de productos */
main{
    display: flex;
    justify-content: center;
}
.products{
    width: 94%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-card{
    margin: 0.7rem 0;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c4c4c;
    padding: 2rem 0;
    border-radius: 1.5rem;
    border: 1px solid black;
    color: white;
    transition: .5s;
    z-index: 500;
    justify-content: space-evenly;
    /* position: fixed; */
}
.product-card:hover{
    box-shadow: 7px 0 45px rgb(115, 115, 115);
    transform: scale(101%);
}
.img-product{
    width: 85%;
    height: 15rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: 1px solid black;
    transition: .5s;
}
.img-product:hover{
    transform: scale(125%);
}
.product-description{
    text-align:justify;
    width: 90%;
    margin: 1rem 0;
}
.product-info{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.7rem;
    width: 90%;
    margin-left: 1.5rem;
}
.product-price{
    display: flex;
    font-size: 1.2rem;
}
.button-add{
    align-self: center;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 2rem;
    transition: .5s;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}
.button-add:hover{
    background-color: #c2c2c2;
    border: none;
}
.editProduct{
    align-self: flex-start;
    top: 0;
    left: 2rem;
    position: relative;
    cursor: pointer;
}

/* ventana agregar productos */

.products-form{
    background-color: #606060;
    border-radius: 0.3rem;
    position: fixed;
    width: 90rem;
    height: 47rem;
    z-index: 1500;
    display: flex;
    flex-flow: column;
    align-content: flex-end;
    visibility: hidden;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .7);
}
.close-form{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    padding: 0;
}
.top-form{
    display: flex;
    justify-content: end;
    color: white;
    font-size: 1.5rem;
}
.products-form h2{
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.4rem;
}
.form{
    width: 25rem;
    padding-left: 5rem;
}
.form label{
    color: white;
    padding-bottom: 0.5rem;
   font-size: 1.2rem;
}
.txtForm{
    background-color: transparent;
    border: none;
    border-bottom: #1c1c1c 1px solid;
    outline: none;
    width: 100%;
    height: 2.2rem;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    color: white;
}
.txtForm:focus{
    background-color: rgb(117, 117, 117);
    border: #c2c2c2;
}
.btnAdd{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
#btnAddProduct{
    padding: 0.5rem 7rem;
    align-content: center;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
}
#btnAddProduct:hover{
    background-color: rgb(161, 161, 161);
    color: white;
}
.containerForm{
    display: flex;
}


/* estilos del apartado del carrito de compras */

.shoppingCart{
    width: 40rem;
    height: 87vh;
    background-color: #090909;
    position: fixed;
    right: 0;
    margin:1rem 1rem 0 0;
    border-radius: 2rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    z-index: 1000;
    visibility: hidden;
}
#closeCart{
    margin-right: 3rem;
}
.productsInCarts{
    width: 85%;
    height: 10rem;
    background-color: #ffff;
    align-self: center;
    margin-top: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 7px 4px #636363;
}
.yourCart{
    font-size: 2.5rem;
    margin: 2rem 0 0 3rem;
    color: #ffff;
    display: flex;
    justify-content: space-between;
}
#emptyCart{
    font-size: 1.2rem;
    width: 15rem;
    padding: 0.5rem 0;
    margin:2rem 0 0 3rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
#emptyCart:hover{
    background-color: #9a9a9a;
    color: #ffff;
}
.imgProductCart{
    width: 40%;
    height: 80%;
    margin-left: 2rem;
    border-radius: 0.5rem;
   
    border: #1c1c1c 1px solid;
}
.productInfo{
    margin-left: 1rem;
    color: rgb(0, 0, 0);
}
.productInfo h2{
    font-size: 1.3rem;
   
}
.quantityProducts{
    display: grid;
    flex-flow: column;
    height: 100%;
}
.amount {
    width: 2.5rem;
    height: 2rem;
    font-size: 1.2rem;
    margin-right: 2rem;
    padding-left: 0.2rem;
    outline: none;
    margin-bottom: 1.5rem;
    justify-self: center;
}
.trash{
    background-color: red;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 0.7rem;
    justify-self: flex-start;
    cursor: pointer;
}    
.buy{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnBuy{
    width: 35%;
    padding: 0.5rem 0;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    border: none;
    align-self: center;
}
.btnBuy:hover{
    background-color: #9a9a9a;
    color: #ffff;
}
.total{
    color: white;
    font-size: 1.5rem;
    margin-left: 3rem;
}
